.tic-tac-toe__home--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .banner {
    width: 300px;
    margin: auto;
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
